.services-container h2 {
    margin-bottom: 5 rem;
}

.services-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

@media (max-width: 991px) {
    .services-container {
        padding-bottom: 7rem;
    }
}

@media (max-width: 768px) {
    .services-container h2 {
        margin-bottom: 3rem;
    }
}